
     <div id="game">
       <div id="board">

          <% @rand_arr.each do |g| %>
              <div class ="tile" data-details-url="<%= g.img_details %>">
                <img src=<%= "#{g.img_url}"%> alt="kanjii radical">
              </div>
           <% end %>
      </div>
  </div>

      <div id="details" class="hidden">
        <span class="image detail"></span>
        <h1>You found a match!</h1>
        <button id="continue">continue</button>
        <button id="learned_button">mark learned</button>
      </div>

      <div id="results">
        <span class="image random"></span>
        <h1>Good job!</h1>
        <p>You found all the matches in <span id="score"></span> clicks.</p>
        <button id='play'>play again</button>
      </div>
    </div>

