/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#userlinks {
  background:rgba(39, 174, 96,1.0);
  border-radius: 20px;
  padding:10px;
  font-weight:bold;
  font-size:16px;
}

#emptydiv {
 padding:10px;
}

.frontPage {
  text-align: center;
  font-family: sans-serif;
  font-style: italic;
  font-weight: bold;
}

#topTitle {
  font-size:30px;
}

#ins {
  padding-top: 50px;
  font-size:20px;
  font-weight: normal;
  background-color: transparent;
}

